.contenedor{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 3px solid rgb(175, 118, 44);
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color:rgb(47, 99, 86);
}

th{
    border: 3px solid rgb(175, 118, 44);
    padding: 10px;
    background-color: cadetblue;
    text-align: left;
}

td{
    border: 3px solid rgb(175, 118, 44);
    padding: 6px;
}

.subtitulo{
    font-size: 31px;
    margin: 10px;
    padding: 0;
}